:root {
  --bg-color: #1f1f2f;
  --text-color: white;
  --water-bg: #4b495f;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
}
